# Environment
.env
.env.*

# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ChromaDB
chroma_store/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (frontend)
frontend/node_modules/
frontend/dist/
frontend/.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*